body{
    /*font-family: :Arial,Helvetica;
    /font-size: 15px;
    line-height: 1.5;*/
    /*in one line*/
    font: 15px/1.5 Arial,Helvetica;
    /*padding and margin are used to avoid space */
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
  }
  /*global*/
.container{
    width:70%;
    margin:auto;
    /*overflow:hidden;*/
  }
  ul{
   margin:0;
   padding:0;
  }