body{
    /*font-family: : YrsaHelvetica;
    font-size: 15px;
    line-height: 1.5;*/
    /*in one line*/
    font: 15px/1.5 Arial,Helvetica;
    /*padding and margin are used to avoid space */
    padding: 0;
    margin: 0;
    background-color: #1E1E1D;
  }
  /*global*/
.container{
    width:80%;
    margin:auto;
    /*overflow:hidden;*/
  }
ul{
   margin:0;
   padding:0;
  }
.highlight{
    color:#F7EA1C;
  }
  /*header*/
header{
    background-image: url("../Images/DSC_7121.jpg");
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
    /*background:#232624;*/
    color:#ffffff;
    padding-top:30px;
    min-height:410px;
    /*border-bottom:#e8491d 3px solid;*/
  }
  header h1{
    margin: 0;
    padding-top: 150px;
    text-align: right;
    font-size: 36px;
  }
/*About me Section*/
#About-me{
    text-align: center;
}
.box{
  float: left;
  padding: 30px;
  padding-top: 10px;
  width: 35%;
  margin-left: 40px;
  text-align: center;
  background-color: #333330;
  margin-bottom: 10px;
  border: 4px solid transparent;
  border-radius: 7px;
}


/*footer*/
footer{
    padding: 20px;
    margin-top: 750px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
    border-top: #e8491d 3px solid;
  }